<div class="col-md-4 col-full-height">
    <h3><%= link_to language.name, language_path(language)%> | <%= number_to_human(language.average_rating) %> <span class="glyphicon glyphicon-star"></span></h3>
    <p><%=truncate(language.description, length: 50, separator: ' ') %></p>
</div>