<div class="jumbotron">
<h1>Libraries</h1>
<p>
What you came here for. Click <%= link_to("here", most_popular_libraries_path )%> for most popular
</p>

</div>

<h1>Recently edited: </h1>
<%= render partial: 'layouts/item_col_display', collection: @libraries, as: :record %>