<div class="col-md-4">
    <h3><%= link_to framework.name, framework_path(framework)%> | <%= framework.average_rating %> <span class="glyphicon glyphicon-star"></span></h3>
    <p><%=framework.description %></p>
</div>